<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to "Rails Blog", root_path, class: 'navbar-brand'%>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to "Home", root_path, class: 'nav-link'%>
              </li>
              <li class="nav-item">
                <%= link_to "About", about_path, class: 'nav-link'%>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>  
</nav>

<div class="bg-light">
        <h1 class="d-flex justify-content-center">Greatest🐐 Discography</h1>

    <table align="center">
        <thead>
            <tr>
                    <th>
                        <div class="album">
                            <b>WE-ALL-ALONE-IN-THIS-TOGETHER</b>
                        </div>
                    </th>
                    <th>
                        <div class="mx-2">
                            <b>PSYCHODRAMA</b>
                        </div>
                    </th>
                    <th>
                        <div class="album">
                            <b>GAME-OVER</b>
                        </div>
                    </th>
                    <th>
                        <div class="album">
                            <b>SIX-PATH</b>
                        </div>
                    </th>
                    <th>
                        <div class="album">
                            <b>TITANIUM & MERCURY</b>
                        </div>
                    </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <td>
                        <div class="tracklist WAAITT">
                            <ol>
                                <li>We`re All Alone</li>
                                <li>Verdansk</li>
                                <li>Clash</li>
                                <li>In The Fire</li>
                                <li>Three Rivers</li>
                                <li>System</li>
                                <li>Lazarus</li>
                                <li>Law Of Attraction</li>
                                <li>Both Sides Of A Smile</li>
                                <li>Twenty To One</li>
                                <li>Heart Attack</li>
                                <li>Survivor`s Guilt</li>
                            </ol>
                        </div>
                    </td>
                <td>
                    <div class="tracklist">
                        <ol>
                            <li>Psycho</li>
                            <li>Streatham</li>
                            <li>Black</li>
                            <li>Purple Heart</li>
                            <li>Location</li>
                            <li>Disaster</li>
                            <li>Screwface Capital</li>
                            <li>Environment</li>
                            <li>Lesley</li>
                            <li>Voices</li>
                            <li>Drama</li>   
                        </ol>
                    </div> 
                </td>
                <td>
                    <div class="tracklist game-over">
                        <ol>
                            <li>Game Over</li>
                            <li>Question Time</li>
                            <li>Attitude</li>
                            <li>Calling Me OUt</li>
                            <li>How I Met My Ex</li>
                            <li>No Words</li>
                            <li>19th Birthday</li>
                        </ol>
                    </div>
                </td>
                <td>
                    <div class="tracklist six-path">
                        <ol>
                            <li>Six Path</li>
                            <li>Picture Me</li>
                            <li>Panic Attack</li>
                            <li>Breathe</li>
                            <li>Wanna Know</li>
                            <li>71/End Credits</li>
                        </ol>
                    </div>
                </td>
                <td>
                    <div class="tracklist titanium">
                        <ol>
                            <li>Titanium</li>
                            <li>Mercury</li>
                        </ol>
                    </div>
                </td>
            </tr>
        </tbody>
    </table><br>

    <table align="center">
        <thead>
            <tr>
                <th>
                    <div class="singles">
                        <b>SINGLES</b>
                    </div>
                </th>
                <th>
                    <div class="features">
                        <b>FEATURES</b>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><ul>
                    <li>Starlight</li>
                    <li>24th Birthday</li>
                    <li>Professor X</li>
                    <li>Verdansk(Survival Mode)</li>
                    <li>Funky Friday</li>
                    <li>Paper Cuts</li>
                    <li>Thiago Silva</li>
                    <li>Samantha</li>
                    <li>Hangman</li>
                    <li>Two Birds No Stone</li>
                  </ul>
                </td>
                <td><ul>
                    <li>Money Talks</li>
                    <li>Children Of The Internet</li>
                    <li>Little Bo Peep</li>
                    <li>Propeller</li>
                    <li>Peligro</li>
                    <li>Straight Murder</li>
                    <li>Nothing On You</li>
                    <li>Rule Of Two</li>
                    <li>Stinking Rich</li>
                    <li>All I Ever Wanted</li>
                </ul>
            </td>
            </tr>
        </tbody>
    </table>
</div>